.blog-box-container {
  background: #fff;
  font-family: "Manrope", sans-serif;
  justify-content: space-between;
  padding-left: 18px;
}

.blog-img img {
  height: 285px;
}

.blog-des {
  margin-top: 34px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

.blog-heading {
  color: #000;
  width: 524px;
  font-size: 29px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.58px;
}

.read-more {
  margin-top: 40px;
}

@media screen and (max-width: 1024px) {
  .blog-heading {
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
  }
}
