.blue-btn {
  border-radius: 47px;
  background: var(--pallet-4-primary, #3734a9);
  width: 162px;
  height: 60px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
  letter-spacing: -0.32px;
}
