.blue-btn {
  border-radius: 47px;
  background: var(--pallet-4-primary, #3734a9);
  width: 100%;
  height: 100%;
  border: none;
  color: #fff;
  font-size: inherit;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
}
