.feature-box-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #dbe4e9;
  font-family: "Manrope", sans-serif;
  background: #fff;
  padding: 53px 31px;
  position: relative;
}

.feature-box-count {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 15px;
}

.feature-box-logo {
  margin: auto;
  width: 50px;
}

.feature-box-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-box-desc {
  color: #757095;
  width: 270px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 185.714% */
  letter-spacing: -0.3px;
}

.feature-box-title {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 34px;
  margin-bottom: 25px;
  margin-top: 25px;

  letter-spacing: -0.66px;
}

@media screen and (max-width: 1024px) {
  .feature-box-logo {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .small-line {
    margin-right: 10px;
  }

  .feature-box-title {
    width: 300px;
  }
}
