.portfolio-container {
  padding: 72px 184px 0 119px;
  display: flex;
  flex-wrap: wrap;
  background: #fafbff;
  justify-content: space-between;
  font-family: "Manrope", sans-serif;
}

.portfolio-heading {
  width: 646px;
  font-size: 56px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: -1.68px;
}

.portfolio-desc {
  width: 449px;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -0.32px;
  margin-top: 19px;
}

@media screen and (max-width: "480px") {
  .portfolio-container {
    padding: 40px 20px;
  }

  .portfolio-heading {
    font-size: 45px;
    width: 370px;
  }

  .portfolio-desc {
    font-size: 14px;
    width: 370px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .portfolio-container {
    justify-content: center;
  }

  .portfolio-content-container {
    margin-left: 60px;
    margin-bottom: 50px;
  }
  .portfolio-heading {
    font-size: 40px;
    width: 400px;
    line-height: normal;
  }
}
