

.recent-blog-heading {
  color: #000;
  font-family: Manrope;
  font-size: 70px;
  font-weight: 800;
  line-height: 66px; 
  letter-spacing: -2.13px;
  margin-bottom: 70px;
}

.recent-blog-container{
    padding: 149px 118px 150px 119px;
    background: #FAFBFF;
}

.vertical-blog-container{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}