.faq-section-container {
  padding: 0 117px 0 123px;
  font-family: "Manrope", sans-serif;
}

.faq-heading {
  width: 544px;
  font-size: 71px;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: -2.13px;
  margin-bottom: 71px;
}

.faq-box-container {
  display: flex;
  justify-content: space-between;
}

.faq-accordion {
  width: 751px;
}

.more-question {
  width: 401px;
}

@media screen and (max-width: 1024px) {
  .faq-box-container{
    flex-direction: column;
  }
  .faq-section-container {
    padding: 60px 40px;
    font-family: "Manrope", sans-serif;
    border: 2px solid black;
  }
  .more-question{
    width: 95%;
  }
}
