.choose-us2-gallery {
  border-radius: 10px;
  background: #dbf1fa;
  width: 486px;
  height: 540px;
  position: relative;
  overflow: hidden;
}

.choose-us-container {
  background: #fafbff;
  padding-bottom: 90px;
}

.content-box-container {
  margin-top: 55px;
}

.choose-us2-img {
  position: absolute;
  height: 400px;
  width: 685px;
  transform: rotate(90deg);
  right: 0;
}
