.client-gallery-container {
  width: 1440px;
  padding: 64px 87px 82px;
  height: 239px;
  background: #f5f6f8;
}

.client-gallery-heading {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.logo-container {
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
