.navbar-container{
    // background-color: red;
    display: flex;
    justify-content: space-between;
}


.nav-links ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}