.horzntal-review-container {
  background: #fff;
  font-family: "Manrope", sans-serif;
  justify-content: space-between;
  padding-left: 25px;
}

.horzntal-review-img img {
  height: 285px;
}

.review-des {
  margin-top: 34px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

.blog-heading {
  color: #000;
  width: 524px;

  font-size: 29px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.58px;
}

.read-more {
  margin-top: 40px;
}
